# Part 1 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
url_chipo = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url_chipo, sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1
num_observations = len(chipo)
print("The number of observations is:" , num_observations)

The number of observations is: 4622

In [16]:
# Solution 2
num_observations = chipo.shape[0]
print("The number of observations is:" , num_observations)

The number of observations is: 4622

### Step 6. What is the number of columns in the dataset?

In [19]:
num_columns = chipo.shape[1]
print("The number of columns is:" , num_columns)

The number of columns is: 5

### Step 7. Print the name of all the columns.

In [13]:
print("The name of colummns is:" , list(chipo.columns))

The name of colummns is: ['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [21]:
dataset_index = chipo.index
print("The dataset indexed as:" , dataset_index)

The dataset indexed as: RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [23]:
most_ordered_item = chipo['item_name'].value_counts().idxmax()
print("The most-orderer item is:" , most_ordered_item)

The most-orderes item is: Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [24]:
most_ordered_quantity = chipo['quantity'].max()
print ("The quantity of the most-ordered is:" , most_ordered_quantity, "units")

The quantity of the most-ordered is: 15 units

### Step 11. What was the most ordered item in the choice_description column?

In [25]:
most_ordered_choice_description = chipo['choice_description'].value_counts().idxmax()
print("The most-ordered item in the choice_description column is:", most_ordered_choice_description)

The most-ordered item in the choice_description column is: [Diet Coke]

### Step 12. How many items were orderd in total?

In [26]:
total_item_orderd = chipo['quantity'].sum()
print("The total number of items ordered is:" , total_item_orderd)

The total number of items ordered is: 4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [36]:
print("The type of the item price is:", type(chipo["item_price"].iloc[0]))

The type of the item price is: <class 'str'>

#### Step 13.b. Create a lambda function and change the type of item price

In [37]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

#### Step 13.c. Check the item price type

In [39]:
print("The type of the item price is:", type(chipo["item_price"].iloc[0]))

The type of the item price is: <class 'numpy.float64'>

### Step 14. How much was the revenue for the period in the dataset?

In [47]:
chipo['revenue'] = (chipo['quantity'] * chipo['item_price'])
revenue = chipo['revenue'].sum()
print("Total revenue for the period: $", revenue)

Total revenue for the period: $ 39237.02

### Step 15. How many orders were made in the period?

In [43]:
#Hemos usado esta funciÃ³n porque de esta manera nos devuelve el nÃºmero de pedidos evitando los pedidos con orden repetida.
total_orders = chipo['order_id'].nunique()
total_orders

1834

### Step 16. What is the average revenue amount per order?

In [48]:
# Solution 1
average_revenue_amount = revenue / total_orders
print("The average revenue amount per order is: $" , average_revenue_amount)

The average revenue amount per order is: $ 21.39423118865867

In [51]:
# Solution 2
average_revenue_amount = chipo.groupby('order_id')['revenue'].sum().mean()
print("The average revenue amount per order is: $" , average_revenue_amount)

The average revenue amount per order is: $ 21.39423118865867

### Step 17. How many different items are sold?

In [52]:
different_items_sold = chipo['item_name'].nunique()
print("The different items sold is:" , different_items_sold)

The different items sold is: 50

# Part 2 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [53]:
url_chipo = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url_chipo, sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00?

In [ ]:
#Vamos a usar la funciÃ³n lambda para tener un float en lugar de una string.
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

In [66]:
#Ahora podemos tratar la columna ite_price como una float.
products_more_than_ten_dolars = chipo[chipo['item_price'] > 10.00]['item_name'].nunique()
print("The products cost more than $10.00 is:" , products_more_than_ten_dolars)

The products cost more than $10.00 is: 31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [70]:
chipo[["item_name", "item_price"]]

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [73]:
chipo.sort_values(by="item_name", ascending=True)

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [79]:
#Primero vamos a localizar el artÃ­culo mÃ¡s caro en la columnna de item_price
most_expensive_item = chipo.loc[chipo['item_price'].idxmax()]

#Una vezlocalizado el articulo mÃ¡s caro, lo que vamos a hacer es mirar la cantidad de pedidos de ese artÃ­culo
quantity_most_expensive_item = most_expensive_item['quantity']
print("The quantity of the most expensive item ordered is:" , quantity_most_expensive_item)

The quantity of the most expensive item ordered is: 15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [82]:
veggie_salad_bowl_ordered = chipo[chipo['item_name'] == 'Veggie Salad Bowl']['quantity'].sum()
print("The Veggie Salad Bowl ordered:" , veggie_salad_bowl_ordered)

The Veggie Salad Bowl ordered: 18

### Step 9. How many times did someone order more than one Canned Soda?

In [94]:
order_more_than_one_canned_soda = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)].shape[0]
print("Times did someone order more than one Canned Soda is:" , order_more_than_one_canned_soda)

Times did someone order more than one Canned Soda is: 20

In [95]:
condition_1 = (chipo['item_name'] == 'Canned Soda')
condition_2 = (chipo['quantity'] > 1)

order_more_than_one_canned_soda = chipo[condition_1 & condition_2].shape[0]
print("Times did someone order more than one Canned Soda is:" , order_more_than_one_canned_soda)

Times did someone order more than one Canned Soda is: 20